<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Artists in this Genre:</strong>
  <ul>
    <% @genre.artists.each do |artist| %>
      <li><%=artist.name%></li>
      <%# NOTE: the UL needs to be outside the loop so you don't create a new LIST every time it loops %>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
