<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>


<p>
  <strong>Number one hits:</strong>
  <%= @artist.number_one_hits %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre.name %>
  <%# NOTE: The .name attribute makes it display the name associated with the number  %>
</p>

<p>
  <strong>All Songs:</strong>
    <ul>
      <% @artist.songs.each do |song| %>
        <li><%= song.name %></li>
      <% end %>
    </ul>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
